<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/dashNav') %>
      <div class="">
        <h2 class="">
          <%= pTitle %>
        </h2>
        <p class="">
          <%= pDesc%>
        </p>
      </div>

  </body>

</html>